<div class="title-container">
    <div class="title">Mediafly: Sales Strategies</div>
</div>

<div class="fullwidthbanner">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="6" ng-click="goToSellType('informativeselling')">
                    <!-- MAIN IMAGE -->
                    <img src="images/blue-shirt-guy.jpg">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="slider-text tp-caption lightgrey_divider skewfromrightshort fadeout"
                        data-x="525"
                        data-y="125"
                        data-speed="100"
                        data-start="1200"
                        data-easing="Power4.easeOut" data-link="#/secondpage">Informative Selling
                    </div>
                    <button data-link="#/secondpage">Learn More</button>
                </li>
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="6" ng-click="goToSellType('guidedselling')">
                    <!-- MAIN IMAGE -->
                    <img src="images/Road.jpg">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="slider-text tp-caption lightgrey_divider skewfromrightshort fadeout"
                        data-x="600"
                        data-y="50"
                        data-speed="500"
                        data-start="1200"
                        data-easing="Power4.easeOut">Guided Selling
                    </div>
                </li>
                <!-- SLIDE  -->
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="6" ng-click="goToSellType('segmentedselling')"
                    <!-- MAIN IMAGE -->
                    <img src="images/WomanInField.jpg">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="slider-text tp-caption lightgrey_divider skewfromrightshort fadeout"
                        data-x="600"
                        data-y="50"
                        data-speed="500"
                        data-start="1200"
                        data-easing="Power4.easeOut"
                        style="color:#fff;">Segmented Selling
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="6" ng-click="goToSellType('prioritizedselling')">
                    <!-- MAIN IMAGE -->
                    <img src="images/lightbulb2.jpg">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="slider-text tp-caption lightgrey_divider skewfromrightshort fadeout"
                        data-x="600"
                        data-y="50"
                        data-speed="500"
                        data-start="1200"
                        data-easing="Power4.easeOut"
                        >Prioritized Selling
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="6" ng-click="goToSellType('searchableselling')">
                    <!-- MAIN IMAGE -->
                    <img src="images/searchable.jpg">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="slider-text tp-caption lightgrey_divider skewfromrightshort fadeout"
                        data-x="600"
                        data-y="50"
                        data-speed="500"
                        data-start="1200"
                        data-easing="Power4.easeOut">Searchable Selling
                    </div>
                </li>
            </ul>
        </div>
</div>

<div id='piemenu' data-wheelnav
 data-wheelnav-slicepath='DonutSlice'
 data-wheelnav-navangle='270'
 data-wheelnav-cssmode 
 data-wheelnav-init>
  <div data-wheelnav-navitemicon='i'></div>
  <div data-wheelnav-navitemicon='loaction2'></div>
  <div data-wheelnav-navitemicon='diagram'></div>
  <div data-wheelnav-navitemicon='lamp'></div>
  <div data-wheelnav-navitemicon='search'></div>
</div>

<img src="images/dial-circle-green.png" class="dial-circle">
<img src="images/topDial.png" class="top-dial">
<img src="images/dialShadow.png" class="dial-shadow">

<span class="arrow-left fa fa-chevron-left fa-2x" ng-click="previousItem()"></span>
<span class="arrow-right fa fa-chevron-right fa-2x" ng-click="nextItem()"></span>
